layout: index
description: The NoSQL database solution for mobile — everything you need to build always-available apps that work online & offline.
subtitle: The NoSQL database solution for mobile — everything you need to build always-available apps that work online & offline.
comments: false
---
h3.intro-feature-title Couchbase Lite
p.intro-feature-desc A fully functional, on-device, lightweight, native, embedded NoSQL database.
p.intro-feature-desc With Couchbase Lite, you have the full power of a Couchbase database locally on the device. You can create, update, delete, query, sync and much, much more.
a Learn more